@page "/my-cart"
@using SharedLibrary
@using Client.Validations
@using FluentValidation
@using System.Security.Claims
@layout CustomerLayout
@inject HttpClient httpClient
@inject AuthenticationStateProvider authProvider
@attribute [Authorize(Roles = "Customer")]
<PageTitle>My Cart</PageTitle>
<MudItem Class="d-flex justify-content-center" xs="12">
    <MudItem xs="8">
        <section class="h-100">
            <div class="container h-100 py-5">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-10">

                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                            <div>
                                <p class="mb-0">
                                    <span class="text-muted">Sort by:</span> <a href="#!" class="text-body">
                                        price <i class="fas fa-angle-down mt-1"></i>
                                    </a>
                                </p>
                            </div>
                        </div>

                        <div class="card rounded-3 mb-4" style="background-color: rgba(245,245,245,1)">
                            <div class="card-body p-4">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        <img src="icon-192.png"
                                             class="img-fluid rounded-3" alt="Cotton T-shirt">
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <p class="lead fw-normal mb-2">Nyalemee Murger</p>
                                        <p><span class="text-muted">Category: </span>Burgers <span class="text-muted">Discounted: </span>No</p>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">

                                        <MudNumericField @bind-Value="pcs" Pcs Margin="Margin.Dense" Variant="Variant.Outlined" Step="1" Min="0" Max="99" />


                                    </div>
                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                        <h5 class="mb-0">₱499.00</h5>
                                    </div>
                                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                        <MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete" Color="Color.Error"></MudIconButton>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card rounded-3 mb-4" style="background-color: rgba(245,245,245,1)">
                            <div class="card-body p-4">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        <img src="icon-192.png"
                                             class="img-fluid rounded-3" alt="Cotton T-shirt">
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <p class="lead fw-normal mb-2">Nyalemee Spaghetti Solo</p>
                                        <p><span class="text-muted">Category: </span>Bundle <span class="text-muted">Discounted: </span>Yes</p>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">

                                        <MudNumericField @bind-Value="pcs" Pcs Margin="Margin.Dense" Variant="Variant.Outlined" Step="1" Min="0" Max="99" />


                                    </div>
                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                        <h5 class="mb-0 text-danger"><s>₱550.00</s></h5>
                                        <h5 class="mb-0">₱499.00</h5>
                                    </div>
                                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                        <MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete" Color="Color.Error"></MudIconButton>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <MudItem xs="12">
                            <MudCard >
                                <MudCardContent Class="d-flex align-start d-flex">
                                    <MudText Typo="Typo.body2">We Accept Gcash or COD (Cash on Delivery) Payments</MudText> <MudSpacer/>
                                    <MudButton Class="" Variant="Variant.Filled" Size="Size.Small" Color="Color.Success">Proceed to Order</MudButton>
                                </MudCardContent>
                            </MudCard>
                        </MudItem>
                    </div>
                </div>
            </div>
        </section>

    </MudItem>
</MudItem>

@code {
    private int pcs { get; set; } = 0;
}